@{
    ViewBag.Title = "Dashboard";
}

<div class="app-content">
    <div class="row">
        <div class="col-sm-4">
            <div class="blood-unity-box-card">Donors</div>
        </div>
        <div class="col-sm-4">
            <div class="blood-unity-box-card">Recipients</div>
        </div>
        <div class="col-sm-4">
            <div class="blood-unity-box-card">Hospitals</div>
        </div>
    </div>
</div>
